* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  font-family: "Poppins", sans-serif;
}
.main-section {
  width: 100vw;
  height: 50vh; /* Adjusted to 100vh for full viewport height */
  position: fixed;
  background: rgba(22, 9, 207, 0.959);
  top: 0;
  left: 0;

}

.Dashboard {
  width: 100vw;
  display: flex;
}
.dashboard-content {
  width: 90%;
  margin: 0 auto;
}
.text h1 {
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.sidebar {
  /* width: 20%; */
  /* padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px; */
  margin-top: 2px;
  /* position: fixed; */
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  height: 100vh;
  transition: all 0.7s ease-in;
  /* margin: 0 auto; */
  overflow: hidden;
}
.profile-image {
  width: 100%;
  height: 100px;
}
.main-dashboard {
  /* width: 83%; */
  /* background: #000; */
  margin: 0 auto;
}

header {
  width: 100%;
}
.link_hover:hover,
.active-link {
  background-color: blue;
  color: white !important;
}

.link_hover:hover .link-icon,
.active-link .link-icon {
  color: white !important;
}

.link_hover:hover .link-text,
.active-link .link-text {
  color: white !important;
}

.box-1 {
  width: 100%;
}
.icon {
  font-size: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-page {
  width: 90%;
  margin: 0 auto;
}
