/* formToPayment.css */

.container {
    margin-top: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-block {
    margin-top: 20px;
  }
  
  /* Optional: Additional styling for form elements */
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  input:disabled {
    background-color: #f0f0f0; /* Disabled input background color */
    cursor: not-allowed; /* Disable cursor for disabled input */
  }
  